{
    FirstResponder = {
        Actions = (
            "activateContextHelpMode:", 
            "alignCenter:", 
            "alignJustified:", 
            "alignLeft:", 
            "alignRight:", 
            "arrangeInFront:", 
            "cancel:", 
            "capitalizeWord:", 
            "centerSelectionInVisibleArea:", 
            "changeColor:", 
            "changeFont:", 
            "checkSpelling:", 
            "clearRecentDocuments:", 
            "close:", 
            "complete:", 
            "copy:", 
            "copyFont:", 
            "copyRuler:", 
            "cut:", 
            "delete:", 
            "deleteBackward:", 
            "deleteForward:", 
            "deleteToBeginningOfLine:", 
            "deleteToBeginningOfParagraph:", 
            "deleteToEndOfLine:", 
            "deleteToEndOfParagraph:", 
            "deleteToMark:", 
            "deleteWordBackward:", 
            "deleteWordForward:", 
            "deminiaturize:", 
            "deselectAll:", 
            "fax:", 
            "hide:", 
            "hideOtherApplications:", 
            "indent:", 
            "loosenKerning:", 
            "lowerBaseline:", 
            "lowercaseWord:", 
            "makeKeyAndOrderFront:", 
            "miniaturize:", 
            "miniaturizeAll:", 
            "moveBackward:", 
            "moveBackwardAndModifySelection:", 
            "moveDown:", 
            "moveDownAndModifySelection:", 
            "moveForward:", 
            "moveForwardAndModifySelection:", 
            "moveLeft:", 
            "moveRight:", 
            "moveToBeginningOfDocument:", 
            "moveToBeginningOfLine:", 
            "moveToBeginningOfParagraph:", 
            "moveToEndOfDocument:", 
            "moveToEndOfLine:", 
            "moveToEndOfParagraph:", 
            "moveUp:", 
            "moveUpAndModifySelection:", 
            "moveWordBackward:", 
            "moveWordBackwardAndModifySelection:", 
            "moveWordForward:", 
            "moveWordForwardAndModifySelection:", 
            "newDocument:", 
            "ok:", 
            "open:", 
            "openDocument:", 
            "orderBack:", 
            "orderFront:", 
            "orderFrontColorPanel:", 
            "orderFrontDataLinkPanel:", 
            "orderFrontHelpPanel:", 
            "orderFrontStandardAboutPanel:", 
            "orderFrontStandardInfoPanel:", 
            "orderOut:", 
            "pageDown:", 
            "pageUp:", 
            "paste:", 
            "pasteAsPlainText:", 
            "pasteAsRichText:", 
            "pasteFont:", 
            "pasteRuler:", 
            "performClose:", 
            "performFindPanelAction:", 
            "performMiniaturize:", 
            "performZoom:", 
            "print:", 
            "printDocument:",
            "raiseBaseline:", 
            "redo:", 
            "revertDocumentToSaved:", 
            "runPageLayout:", 
            "runToolbarCustomizationPalette:", 
            "saveAllDocuments:", 
            "saveDocument:", 
            "saveDocumentAs:", 
            "saveDocumentTo:", 
            "scrollLineDown:", 
            "scrollLineUp:", 
            "scrollPageDown:", 
            "scrollPageUp:", 
            "scrollViaScroller:", 
            "selectAll:", 
            "selectLine:", 
            "selectNextKeyView:", 
            "selectParagraph:", 
            "selectPreviousKeyView:", 
            "selectText:", 
            "selectToMark:", 
            "selectWord:", 
            "showContextHelp:", 
            "showGuessPanel:", 
            "showHelp:", 
            "showWindow:", 
            "stop:", 
            "subscript:", 
            "superscript:", 
            "swapWithMark:", 
            "takeDoubleValueFrom:", 
            "takeFloatValueFrom:", 
            "takeIntValueFrom:", 
            "takeObjectValueFrom:", 
            "takeStringValueFrom:", 
            "terminate:", 
            "tightenKerning:", 
            "toggle:", 
            "toggleContinuousSpellChecking:", 
            "toggleRuler:", 
            "toggleToolbarShown:", 
            "toggleTraditionalCharacterShape:", 
            "transpose:", 
            "transposeWords:", 
            "turnOffKerning:", 
            "turnOffLigatures:", 
            "underline:", 
            "undo:", 
            "unhide:", 
            "unhideAllApplications:", 
            "unscript:", 
            "uppercaseWord:", 
            "useAllLigatures:", 
            "useStandardKerning:", 
            "useStandardLigatures:", 
            "yank:", 
            "zoom:"
        ); 
        Super = NSObject; 
    }; 
    IBInspector = {
        Actions = ("ok:", "revert:", "touch:"); 
        Outlets = (window, okButton, revertButton); 
        Super = NSObject; 
    }; 
    IBPalette = {
        Actions = (); 
        Outlets = (originalWindow); 
        Super = NSObject; 
    }; 
    NSActionCell = {
        Super = NSCell; 
    }; 
    NSApplication = {
        Actions = (
            "arrangeInFront:", 
            "hide:", 
            "hideOtherApplications:", 
            "miniaturizeAll:", 
            "orderFrontColorPanel:", 
            "orderFrontDataLinkPanel:", 
            "orderFrontHelpPanel:", 
            "orderFrontStandardAboutPanel:", 
            "orderFrontStandardInfoPanel:", 
            "runPageLayout:", 
            "stop:", 
            "terminate:", 
            "unhide:", 
            "unhideAllApplications:"
        ); 
        Outlets = (delegate); 
        Super = NSResponder; 
    }; 
    NSArray = {
        Super = NSObject; 
    }; 
    NSArrayController = {
        Actions = ("add:", "insert:", "remove:", "selectNext:", "selectPrevious:");
        Outlets = (arrangedObjects, content);
        Super = NSObjectController;
    };
    NSBox = {
        Outlets = (contentView);
        Super = NSView; 
    }; 
    NSBrowser = {
        Actions = ("doClick:", "doDoubleClick:", "selectAll:"); 
        Outlets = (delegate); 
        Super = NSControl; 
    }; 
    NSBrowserCell = {
        Super = NSCell; 
    }; 
    NSButton = {
        Actions = ("performClick:"); 
        Super = NSControl; 
    }; 
    NSButtonCell = {
        Actions = ("performClick:"); 
        Super = NSActionCell; 
    }; 
    NSCStringText = {
        Actions = ("clear:", "selectText:"); 
        Super = NSText; 
    }; 
    NSCell = {
        Actions = (
            "takeDoubleValueFrom:", 
            "takeFloatValueFrom:", 
            "takeIntValueFrom:", 
            "takeStringValueFrom:"
        ); 
        Super = NSObject; 
    }; 
    NSClipView = {
        Outlets = (documentView);
        Super = NSView;
    };
    NSColorWell = {
        Actions = ("takeColorFrom:"); 
        Super = NSControl; 
    }; 
    NSComboBox = {
        Outlets = (dataSource, delegate); 
        Super = NSTextField; 
    }; 
    NSControl = {
        Actions = (
            "takeDoubleValueFrom:", 
            "takeFloatValueFrom:", 
            "takeIntValueFrom:", 
            "takeObjectValueFrom:", 
            "takeStringValueFrom:"
        ); 
        Outlets = (target); 
        Super = NSView; 
    }; 
    NSController = {
        Actions = ();
        Outlets = ();
        Super = NSObject;
    };
    NSCursor = {
        Super = NSObject; 
    }; 
    NSDateFormatter = {
        Super = NSFormatter; 
    }; 
    NSDatePicker = {
        Outlets = (delegate);
        Super = NSControl;
    };
    NSDictionary = {
        Super = NSObject; 
    }; 
    NSDictionaryController = {
        Actions = ();
        Outlets = ();
        Super = NSArrayController;
    };
    NSDocument = {
        Actions = (
            "printDocument:", 
            "revertDocumentToSaved:", 
            "runPageLayout:", 
            "saveDocument:", 
            "saveDocumentAs:", 
            "saveDocumentTo:"
        ); 
        Outlets = ("_window"); 
        Super = NSObject; 
    }; 
    NSDocumentController = {
        Actions = ("clearRecentDocuments:", "newDocument:", "openDocument:", "saveAllDocuments:"); 
        Super = NSObject; 
    }; 
    NSDrawer = {
        Actions = ("close:", "open:", "toggle:"); 
        Outlets = (delegate, contentView, parentWindow); 
        Super = NSResponder; 
    }; 
    NSFontManager = {
        Actions = (
            "addFontTrait:", 
            "modifyFont:", 
            "modifyFontViaPanel:", 
            "orderFrontFontPanel:", 
            "removeFontTrait:"
        ); 
        Outlets = (menu); 
        Super = NSObject; 
    }; 
    NSForm = {
        Super = NSMatrix; 
    }; 
    NSFormCell = {
        Super = NSActionCell; 
    }; 
    NSFormatter = {
        Super = NSObject; 
    }; 
    NSHelpManager = {
        Actions = ("activateContextHelpMode:", "showHelp:"); 
        Super = NSObject; 
    }; 
    NSImage = {
        Super = NSObject; 
    }; 
    NSImageCell = {
        Super = NSCell;
    };
    NSImageView = {
        Super = NSControl;
    };
    NSLevelIndicator = {
        Super = NSControl;
    };
    NSMatrix = {
        Actions = ("selectAll:", "selectText:"); 
        Outlets = (delegate); 
        Super = NSControl; 
    }; 
    NSMenu = {
        Actions = ("submenuAction:"); 
        Outlets = (delegate);
        Super = NSObject; 
    }; 
    NSMenuItem = {
        Outlets = (target); 
        Super = NSObject; 
    }; 
    NSMenuItemCell = {
        Super = NSButtonCell; 
    }; 
    NSMovieView = {
        Actions = ("clear:", "copy:", "cut:", "gotoBeginning:", "gotoEnd:", "gotoPosterFrame:", "paste:", "selectAll:", "start:", "stepBack:", "stepForward:", "stop:", "undo:");
        Outlets = ("_positionField", "_statusField");
        Super = NSView;
    };
    NSMutableArray = {
        Super = NSArray; 
    }; 
    NSMutableDictionary = {
        Super = NSDictionary; 
    }; 
    NSNumberFormatter = {
        Super = NSFormatter; 
    }; 
    NSObject = {
    }; 
    NSObjectController = {
        Actions = ();
        Outlets = (content);
        Super = NSController;
    };
    NSOpenGLView = {
        Super = NSView; 
    }; 
    NSOutlineView = {
        Outlets = (dataSource, delegate);
        Super = NSTableView; 
    }; 
    NSPageController = {
        Actions = ("navigateBack:", "navigateForward:", "takeSelectedIndexFrom:");
        Outlets = (delegate);
        Super = NSViewController;
    };
    NSPanel = {
        Super = NSWindow; 
    }; 
    NSPopUpButton = {
        Super = NSButton; 
    }; 
    NSPopUpButtonCell = {
        Super = NSMenuItemCell; 
    }; 
    NSProgressIndicator = {
        Actions = ("animate:", "startAnimation:", "stopAnimation:"); 
        Super = NSView; 
    }; 
    NSResponder = {
        Outlets = (menu); 
        Super = NSObject; 
    }; 
    NSRulerView = {
        Super = NSView; 
    }; 
    NSScrollView = {
        Outlets = (contentView, documentView);
        Super = NSView; 
    }; 
    NSScroller = {
        Super = NSControl; 
    }; 
    NSSearchField = {
        Super = NSTextField; 
    }; 
    NSSearchFieldCellCell = {
        Super = NSTextFieldCell; 
    }; 
    NSSegmentedCell = {
        Super = NSActionCell;
    };
    NSSegmentedControl = {
        Super = NSControl;
    };
    NSSecureTextField = {
        Super = NSTextField;
    };
    NSSecureTextFieldCell = {
        Super = NSTextFieldCell;
    };
    NSSlider = {
        Super = NSControl;
    };
    NSSliderCell = {
        Super = NSActionCell;
    };
    NSSplitView = {
        Outlets = (delegate);
        Super = NSView;
    };
    NSStepper = {
        Super = NSControl;
    };
    NSStepperCell = {
        Super = NSActionCell;
    };
    NSTabView = {
        Actions = (
            "selectFirstTabViewItem:", 
            "selectLastTabViewItem:", 
            "selectNextTabViewItem:", 
            "selectPreviousTabViewItem:", 
            "takeSelectedTabViewItemFromSender:"
        );
        Outlets = (delegate);
        Super = NSView;
    };
    NSTableColumn = {
        Outlets = (dataCell, headerCell);
        Super = NSObject;
    };
    NSTableHeaderCell = {
        Super = NSTextFieldCell;
    };
    NSTableHeaderView = {
        Super = NSView;
    };
    NSTableView = {
        Actions = ("deselectAll:", "selectAll:");
        Outlets = (dataSource, delegate);
        Super = NSControl;
    };
    NSText = {
        Actions = (
            "alignCenter:", 
            "alignLeft:", 
            "alignRight:", 
            "changeFont:", 
            "changeSpelling:", 
            "checkSpelling:", 
            "copy:", 
            "copyFont:", 
            "copyRuler:", 
            "cut:", 
            "delete:", 
            "ignoreSpelling:", 
            "paste:", 
            "pasteFont:", 
            "pasteRuler:", 
            "selectAll:", 
            "showGuessPanel:", 
            "subscript:", 
            "superscript:", 
            "toggleRuler:", 
            "underline:", 
            "unscript:"
        );
        Outlets = (delegate);
        Super = NSView;
    };
    NSTextField = {
        Actions = ("selectText:");
        Outlets = (delegate);
        Super = NSControl;
    };
    NSTextFieldCell = {
        Super = NSActionCell;
    };
    NSTextView = {
        Actions = (
            "alignJustified:",
            "changeColor:",
            "deleteBackwards:",
            "insertBacktab:",
            "insertNewLine:",
            "insertParagraphSeparator:",
            "insertTab:",
            "loosenKerning:",
            "lowerBaseline:",
            "moveBackward:",
            "moveDown:",
            "moveForward:",
            "moveLeft:",
            "moveRight:",
            "moveUp:",
            "pasteAsPlainText:",
            "pasteAsRichText:",
            "raiseBaseline:",
            "tightenKerning:",
            "toggleContinuousSpellChecking:",
            "toggleTraditionalCharacterShape:",
            "turnOffKerning:",
            "turnOffLigatures:",
            "useAllLigatures:",
            "useDefaultBaseline:",
            "useDefaultKerning:",
            "useDefaultLigatures:",
            "useStandardBaseline:",
            "useStandardKerning:",
            "useStandardLigatures:"
        );
        Super = NSText;
    };
    NSTokenField = {
        Outlets = (delegate);
        Super = NSTextField;
    };
    NSTokenFieldCell = {
        Super = NSTextFieldCell;
    };
    NSToolbar = {
        Actions = ();
        Outlets = (delegate);
        Super = NSObject;
    };
    NSToolbarItem = {
        Outlets = (target, view);
        Super = NSObject;
    };
    NSTreeController = {
        Actions = ("add:", "addChild:", "insert:", "insertChild:", "remove:");
        Outlets = (content);
        Super = NSObjectController;
    };
    NSUserDefaultsController = {
        Actions = ("revert:", "save:");
        Outlets = (defaults, initialValues);
        Super = NSController;
    };
    NSView = {
        Actions = ("fax:", "print:");
        Outlets = (nextKeyView);
        Super = NSResponder;
    };
    NSViewController = {
        Actions = ();
        Outlets = (view, delegate);
        Super = NSResponder;
    };
    NSWindow = {
        Actions = (
            "deminiaturize:", 
            "fax:", 
            "makeKeyAndOrderFront:", 
            "miniaturize:", 
            "orderBack:", 
            "orderFront:", 
            "orderOut:", 
            "performClose:", 
            "performMiniaturize:", 
            "performZoom:", 
            "print:", 
            "runToolbarCustomizationPalette:", 
            "selectNextKeyView:", 
            "selectPreviousKeyView:", 
            "toggleToolbarShown:", 
            "zoom:"
        );
        Outlets = (delegate, initialFirstResponder, windowController);
        Super = NSResponder;
    };
    NSWindowController = {
        Actions = ("showWindow:");
        Outlets = (document, window, delegate);
        Super = NSResponder;
    };
}
