{
  NSApplication = {
    Super = NSResponder;
    Outlets = (
      delegate
    );
  };
  NSButton = {
    Actions = (
      "takeStringValueFrom:"
    );
    Super = NSControl;
  };
  NSControl = {
    Outlets = (
      target
    );
    Super = NSView;
  };
  NSResponder = {
    Super = NSObject;
  };
  NSView = {
    Super = NSResponder;
  };
  NSWindow = {
    Outlets = (
      delegate
    );
    Super = NSResponder;
  };
}
