{
    NSIcon = "Gorm.tiff";
    NSRole = "Editor";
    NSTypes = (
      {
        NSUnixExtensions = ( "gorm" );
        NSIcon = "Gorm.tiff";
      }
    );
    ApplicationDescription = "Gorm";
    ApplicationIcon = "Gorm.tiff";
    ApplicationName = "Gorm";
    ApplicationRelease = "0.2";
    Authors = ();
    Copyright = "Copyright (C) 1999-2001 FSF";
    CopyrightDescription = "Released under the GNU GPL";
    FullVersionID = "0.2";
}
